/* General Page Styling */
body {
    font-family:'Times New Roman', Times, serif ;
    line-height: 1.6;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header Styling */
#header {
    background-color: rgb(0, 170, 255);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.subtitle {
    font-style: italic;
    font-family: "Times New Roman", serif;
    font-size: 1.1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style:italic ;
    font-weight: bold;
}

/* Card Sections */
.card {
    background-color: white;
    border: 2px solid #dddddd50;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
}

/* Demonstrating Box Model */
.card h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 0; /* override default margin */
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc27;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}
